#cloud-config

runcmd:
  - mkdir -p /opt/cloud-bench
  - chmod 755 /opt/cloud-bench
  - sed -i 's/^#*PermitRootLogin.*/PermitRootLogin prohibit-password/' /etc/ssh/sshd_config
  - sed -i 's/^#*PasswordAuthentication.*/PasswordAuthentication no/' /etc/ssh/sshd_config
  - systemctl restart sshd
